<div class="container">

<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a href="#navreq" data-toggle="tab">Request</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <% @categories.each do |category| %>
            <li><a href="#" id="cat<%= category.id %>" data-toggle="dropdown"><%= category.name %></a></li>
            
            <% end %>
        </ul>
        </li>
        <li><a href="#navwish" data-toggle="tab">Wishlist</a></li>
        <li><a href="#navadd" data-toggle="tab">Add</a></li>
        <li><a href="#navgroup" data-toggle="tab"><%=@group.name %> profile</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane" id="navreq">
            <%= render template: "items/new", locals: {group_id: @group.id} %>
        </div>
         <% @categories.each do |category| %>
          <div class="tab-pane" id="cat<%= category.id %>">
            <%= render template: "items/index", collection: @items , locals: {group_id: @group.id}%> 
        </div>
        <% end %>    
        <div class="tab-pane" id="navwish">
            <h1>Yellow</h1>
            <p>yellow yellow yellow yellow yellow</p>
        </div>
        <div class="tab-pane" id="navadd">
            <h1>Green</h1>
            <p>green green green green green</p>
        </div>
        <div class="tab-pane" id="navgroup">
            <%= render partial: "groups/member" %>
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>  

<script type="text/javascript"charset="UTF-8">
    jQuery(document).ready(function ($) {
    $("[id^=cat]").click(function () {
     alert('Hello, world!');
     return false;
     })
    });
 </script> 
</div> <!-- container -->


