<div class="container">

<div id="sharecontent">
    <div id="sharetab">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tab">
        <li> <%= link_to "Request", fetch_sharerequests_path(), remote: true, :data => {:toggle=>"tab", :target=>"#navreq"}   %></li> 
        <li class="dropdown"><a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="categorylist">Inventory<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <% @categories.each do |category| %>
            <li> <%= link_to category.name, fetch_items_path(category_id: category.id), remote: true, :data => {:toggle=>"tab", :target=>"#"}   %></li> 
             <% end %>
        </ul>
        </li>
        <li><a href="#navwish" data-toggle="tab">Wishlist</a></li>
        <li><a href="#navadd" data-toggle="tab">Add</a></li>
        <li><a href="#navgroup" data-toggle="tab"><%=@group.name %> profile</a></li>
    </ul>
    </div>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane fade" id="navreq">
        </div>
            
        <div class="tab-pane fade" id="navwish">
            <h1>Yellow</h1>
            <p>yellow yellow yellow yellow yellow</p>
        </div>
        <div class="tab-pane fade" id="navadd">
           <%= render template: "items/new", locals: {group: @group} %>
        </div>
        <div class="tab-pane fade" id="navgroup">
            <%= render partial: "groups/member" %>
        </div>
    </div>
 
</div>
 
 
</div> <!-- container -->

