<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>  Welcome to <%= @group.name %></h1>
    <blockquote>
     <p><%= @group.description %></p>
     <p> Active members: <%=@group.users.count%></p>
     <cite>Admin/Owner: <%= @admin.name %></cite>
   </blockquote>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <h4> <%= 'Member'.pluralize(@members.count) %></h4> 
    <div class="container">
      <div class="col-md-6 col-md-offset-1">
        <table class="table table-striped table-bordered table-hover">    
          <thead>
          <tr>
            <th>Name </th>
            <th>Email </th>
          </tr>
          </thead>  
          <tbody>   
            <% @members.each do |member| %> 
            <tr class="highlight">
            <td> <h4><strong><%= member.name %></strong></h4> </td>
            <td> <h4><strong><%= member.email %></strong></h4> </td>
            </tr>  
            <% end %>   
          </tbody> 
        </table>
      </div>
    </div>
  </div>
</div>
<% if current_user == @admin %>
<<<<<<< HEAD
   <div class="row">
>>>>>>> User-story-11
    <div class="col-md-6 col-md-offset-2"> 
      <h4> <%= 'Invitee'.pluralize(@invitations.count) %></h4>
      <div class="container" >
        <div class="col-md-6 col-md-offset-1">
          <table class="table table-striped table-bordered table-hover">    
          <thead>
          <tr>
            <th>Email </th>
            </tr>
          </thead> 
          <tbody class='js-invitations'>
            <%= render partial: @invitations %>            
          </tbody> 
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='new-invitation'>
    <%= render partial: "invitations/form", locals: {invitation: @invitation} %>
  </div>
<% end %>
