<footer class="footer-distributed">

      <div class="footer-left">

        <p class="footer-links">
          <%= link_to "Home", welcome_index_path %> 
          路
          <a href='<%= root_path %>'>Share Guidelines</a>
          路
          <a href='<%= root_path %>'>FAQ</a>
          路
          <a href='<%= root_path %>'>About Sharegoods</a>
          路
          <a href='<%= root_path %>'>Contact Us</a>
        </p>

        <p>Company Name &copy; 2015</p>
      </div>

</footer>
