<footer class="footer-distributed">

      <div class="footer-left">

        <p class="footer-links">
          <a href='<%= root_path %>'> Home </a>
          路
          <a href='<%=  page_path('shareguidelines') %>'>Share Guidelines</a>
          路
          <a href='<%= root_path %>'>FAQ</a>
          路
          <a href='<%= root_path %>'>About Sharegoods</a>
          路
          <a href='<%= root_path %>'>Contact Us</a>
        </p>

        <p>Company Name &copy; 2015</p>
      </div>

</footer>
