<!DOCTYPE html>
<html>
<head>
  <title>Sharegoods</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
  <style>
    body {
        background-color: #79CDCD;
    }
  </style>
</head>
<body>
  <div class="container" id="sharemain" >
    <%= render "layouts/header" %>
       <% if flash.now[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash.now[:notice] %>
         </div>
    <% elsif flash.now[:error] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash.now[:error] %>
         </div>
    <% elsif flash.now[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash.now[:alert] %>
         </div>
    <% end %> 
    <div id ='data-pjax-container'  >    
      <%= yield %>
    </div>
    <div class="clearfooter"></div>
  </div>
  <%= render "layouts/footer" %>


<script type="text/javascript">

$(document).ready(function () {

    $('a[data-toggle="tab"]').on('click', function(e) {
      history.pushState(null, null, $(this).attr('href'));
    }); 

    //$(window).on("popstate", function(e) {
      window.addEventListener("popstate", function(e) {
      var activeTab = $('[href="' + location.pathname + '"]');
      console.log ( '***** ' + activeTab);
      if (activeTab.length) {
      // activeTab.click();
         activeTab.tab('show');
        $("#my-tab-content").load(activeTab.attr('href'));
      } else {
     //  $('.nav-tabs a:first').click();
      $('.nav-tabs a:first').tab('show')
      }
    });
 
    //$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
      //  var href = $(e.target).attr("href");
        //    location.replace(href);
      
   // });
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  e.target // newly activated tab
  console.log ('****'+ e.target) ;
  e.relatedTarget // previous active tab
  console.log ('^^^^^'+ e.relatedTarget) ;
});

});

</script>

</body>
